@using SurveyManagement.App.Components
@using SurveyManagement.Domain.Entities
@model List<SurveyQuestion>

@{
    ViewData["Title"] = "Survey Questions";
    int surveyId = ViewBag.SurveyId;
}
@* TODO: CHECK THIS *@
<h2>Survey Management</h2>

<div class="card mb-3">
    <div class="card-header">
        <h3>Survey Details</h3>
    </div>
    <div class="card-body">
        @(await Html.RenderComponentAsync<SurveyQuestions>(RenderMode.ServerPrerendered, new { SurveyId = surveyId }))
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3>Survey Questions</h3>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var question in Model)
                {
                    <tr>
                        <td>@question.QuestionText</td>
                        <td>@question.QuestionType</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
